html, body{
    margin: 0;
    padding: 0;
}

header, footer{
    position: relative;
    z-index: 2;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
}


body .main{
    flex-grow: 1;
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

body .main .contact-form{
    background-color: white;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow-varient-1);
    margin: 20px 0;
}

body .main .contact-form
.contact-form-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
    box-sizing: border-box;
}

body .main .contact-form
.contact-form-header h2,
body .main .contact-form
.contact-form-header p,
body .main .contact-form .inputs-container label{
    color: var(--text-color-dark-varient-1);
    font-family: 'Nunito', sans-serif;
}


body .main .contact-form
.contact-form-header h2{
    margin-bottom: 0;
}

body .main .contact-form .inputs-container{
    padding: 20px;
    box-sizing: border-box;
}





@media screen and (max-width: 900px) {
    body .main{
       padding:  0 100px;
    }
}

@media screen and (max-width: 620px) {
    body .main{
        padding:  0 50px;
    }

    body .main h1{
        font-size: 50px;
    }
    body .main p{
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    body .main{
        padding:  0 20px;
    }  
}